.form-control {
    width: 240px;
    margin: 4px;
}

.published {
    font-weight: 500;
    color: green;

}

.no-published {
    color: orangered;
    font-weight: 500;

}

.editBtn{
    margin-right: 15px;
}

.viewCout {
    margin-left:20px;
}








